.jumbotron {
background-image: url("tiles.jpg");
background-size: cover;
height: 100%;}

.jumbotron h2{
    color: white;
}

.jumbotron p{
    color: white;
}

.navbar-collapse { max-height: 100% !important; }
